html {
	background-color:#e4cceb;
	}

body {
	font-family: 'AlexBrush' src:
	url('piano-website/fonts/AlexBrush-Regular.ttf') format ('ttf');
	,serif;
	font-weight: normal;
	font-style: normal;
	font-size: 87%;
	text-align: justify;
}


/*Intro Section */ 
header { 
	background-image: url(../piano-website/notes.png); 
	background-repeat: no-repeat;
	background-position: right;
	background-size: 60%;
	padding-left: 20px;
}



header h1{
	padding-top: 20px;
	color: purple;	
	margin: 0;
	font-weight: normal;
}


/*site nav*/
.site-nav {
	padding-top: 30px;
}
.site-nav a { 
	display: block;
	color: purple;
	text-decoration: none;
	padding: 10px 30px;
	border: 2px solid purple;
	border-bottom: none;
	transition-property: color, background-color;
	transition-duration: 1s;
}


.site-nav a:hover {
	background-color:#e4cceb ;
}

.site-nav ul {
	margin: 0;
	padding: 0;
}

/* li targets the list element */ 
.site-nav li {
	list-style: none;
	float: left;
	margin-right: 5px;
}

@media screen and (max-width: 700px) {
	.site-nav li {
		width: 50%;
		margin-right: 0;
	}
	.site-nav a {
		padding: 15px 0;
		margin-right: 5px;
		margin-bottom: 5px;
		text-align: center;
		border: 2px solid purple;
	}
}
@media screen and (max-width: 480px) {
	.site-nav li {
		width: 50%;
	}
}


.toggle-btn {
	color: purple;
}
/*Reveal and Hide Styles*/
.read-more{
	text-decoration: underline;
	color: blue;
}

.read-more:hover {
	text-decoration: none;
}


.toggle-btn {
	display: none;
}

@media screen and (max-width: 767px) {
	.toggle-btn-visible {
	display:block;
	}

.toggle-target-hidden {
	display: none;
	}

.toggle-target-expanded {
	display: block;
	}
}
/* a references the link element*/ 


/*End of Intro Section */
h1 {color: purple;}

.container { 
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFF;	
	box-sizing: border-box;
	padding-top: 20px;
	
} 

@media screen and (min-width: 1300px) {
	.container {
		max-width: 1200px;
		font-size: 17px;

	}
}
@media screen and (min-width: 1200px) {
	.container {
		font-size: 17px;
		margin-right: auto;
		margin-left: auto;
		margin-top: 20px;
		padding-right: 20px;
		padding-left: 20px;
		max-width: 1200px;
	}
}

@media screen and (max-width: 480px) {
	.container {
		padding-right: 20px;
		padding-left: 20px;
	}
}

h2 {
	font-weight: normal;
	text-align: center;
	color: purple;
	padding-top: 5px;	
}



.content-area { 
	border-top: 2px solid purple;
	border-bottom: 2px solid purple; 
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom:20px;
	padding-top:40px;
	background-image: url(../piano-tiles.png);
	background-repeat: repeat-x;
	background-size: 60px;
	width: auto;

}

table { 
	border-spacing: 0px; 
	border-collapse: collapse;
	width: 60%;	
	margin-left: 20%;
	margin-right: 20%;

}



.col-time {
	width: 30%;
}

.col-price {
	width: 20%;
}

.col-number {
	width: 20%
}

.col-cost {
	width: 30%;
}

table th {
	text-align: left;
	background-color: #e4cceb;
	text-shadow: rgba(0, 0, 0, .4);
}

table th, 
table td {
	border: 1px solid purple;
	padding: 6px;
	vertical-align: top;
}

table.lessons tr:nth-child(1),
table.lessons tr:nth-child(2),
table.lessons tr:nth-child(3) {
	text-align: center;
}

img {
	max-width: 40%;
	height: auto;
	padding-left: 250px;
	padding-top: 40px;
	

	
}


@media screen and (max-width: 480px) {
	.content-area {
		padding-top: 20px;
	}
}
@media screen and (max-width:700px) {
	.main-area,
	.content-area,{
		width:auto;
		float:none;
	}
	.main-area {
		padding-right: 0;
	}
}

footer {
	text-align: center;
}


.group:before,
.group:after {
	content: "";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	zoom: 1;
}

.row:before,
.row:after {
	content: "";
	display: table;
}

.row:after {
	clear: both;
}

.row {
	zoom: 1;
}